.experience-wrapper {
  background-color: var(--primary-background-color);
  padding: 5% 0 8% 0;
}
.exp-card-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
}
