.project-title {
  font-weight: bold;
  font-size: 27px;
  margin: 23px 0;
  color: var(--primary-color);
}

.projectitem-wrapper {
  padding: 0 0 7em 0;
}

.project-image {
  display: inline-block;
  width: 35%;
}

.project-resource-btn {
  display: flex;
  /* justify-content: center; */
}

.project-description {
  margin-bottom: 3em;
}

.techstackusedtext {
  color: var(--primary-color);
  font-weight: 600;
  padding-bottom: 0.5em;
}

.techstackssectiom {
  margin-bottom: 2em;
}
