@import "../../../bootstrapimports.scss";
.project-title {
  font-weight: bold;
  font-size: clamp(22px, 2.5vw, 27px);
  margin: 23px 0;
  color: var(--primary-color);
}

.projectitem-wrapper {
  padding: 0 0 7em 0;
}

.project-image {
  display: inline-block;
  width: 35%;
}

.project-resource-btn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.project-resource-btn-top {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}

.project-description {
  margin-bottom: 3em;
  font-size: clamp(16px, 2vw, 18px);
}

.techstackusedtext {
  color: var(--primary-color);
  font-weight: 600;
  padding-bottom: 0.5em;
}

.techstackssectiom {
  margin-bottom: 2em;
}

.lg-stats-wrapper {
  display: none;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

@include media-breakpoint-down(lg) {
  .lg-stats-wrapper {
    display: block;
  }
  .xl-images {
    display: none;
  }
  .project-title {
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .techstackusedtext {
    text-align: center;
  }
}
