.about-wrapper {
  background-color: var(--secondary-background-color);
  padding: 3% 0 6% 0;
}
body {
  color: white;
}
.about-content {
  width: 85%;
  max-width: 1300px;
}

.about-content h2 {
  font-weight: bold;
  font-size: 27px;
  margin: 23px 0;
}

.skills-header {
  text-align: center;
}

.i-love-section {
  display: flex;
}

.location-wrapper {
  border-top: 1px white solid;
  width: 70%;
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.location-wrapper p {
  margin: 0 8px;
}

.about-summary a {
  color: var(--primary-color);
  text-decoration: none;
}

.project-image-section {
  margin: 23px 0 0 0;
}
