.contact-form-wrapper {
  background-color: var(--secondary-background-color);
  padding: 5% 0 3% 0;
}

.contact-form {
  margin: 40px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.textfield {
  width: 100%;
  margin-bottom: 0;
  .errormessage {
    color: yellow;
    font-size: 0.9em;
    padding: 0;
  }
}

.email,
.message {
  width: 100%;
}

.submit-wrapper {
  .submit {
    width: 100%;
  }
  .errormessage {
    color: yellow;
    text-align: center;
    padding: 16px 0 0 0;
  }
}

// .email {
//   & > * {
//     // marginBottom: theme.spacing(2),
//     // backgroundColor: '#3b4353',
//     color: "white";
//     &:hover {
//       // backgroundColor: '#3b4353';
//       color: "white";
//     }
//     &.Mui-focused {
//       // backgroundColor: '#3b4353';
//       color: "white";
//     }
//     &.MuiFilledInput-underline:before {
//       // borderBottom: '2px solid #6f7b9b',
//     }
//     &.MuiFilledInput-underline:after {
//       // borderBottom: '2px solid #258b9e',
//     }
//   }
// }
// .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
//   color: #1976d2;
// }
