.intro {
  height: calc(100vh);
}
.intro-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.profileimg {
  border-radius: 50%;
  border: 0.2rem solid var(--primary-color);
  width: 120px;
  height: 120px;
  transition: all 0.5s ease-in-out 0s;
}

.profileimg:hover {
  width: 200px;
  height: 200px;
}

.greeting-text {
  margin: 15px;
  font-weight: 700;
  font-size: 2.2rem;
}

.name {
  color: var(--primary-color);
}

.intro-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.wave-emoji {
  animation: wave 2s linear 0s infinite alternate;
  display: inline-block;
  transform-origin: 70% 70%;
  /* an
    imation-fill-mode: forwards; */
}

.particles {
  background-color: #272b33;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.links {
  display: flex;
  padding: 20px;
  margin: 20px auto 0 auto;
  z-index: 2;
}
.links a img {
  width: 50px;
  height: 50px;
  transition: all 0.25s ease-in-out 0s;
}

.links a img:hover {
  width: 60px;
  height: 60px;
}

.links a:first-child {
  margin-right: 20px;
}

.scroll-down {
  position: absolute;
  /* left: 0; */
  /* right: 0; */
  bottom: 75px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-12deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-12deg);
  }

  40% {
    transform: rotate(12deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
