a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.award-title {
  font-weight: bold;
  font-size: 25px;
  margin: 23px 0 27px 0;
}

.image {
  width: 100%;
  cursor: pointer;
}

.date {
  color: var(--primary-color);
  font-size: 12px;
  display: none;
  /* font-style: italic; */
}
